/*
 * Mux API
 *
 * Mux is how developers build online video. This API encompasses both Mux Video and Mux Data functionality to help you build your video-related projects better and faster than ever before.
 *
 * API version: v1
 * Contact: devex@mux.com
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package muxgo

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"reflect"
)

// Linger please
var (
	_ _context.Context
)

// DeliveryUsageApiService DeliveryUsageApi service
type DeliveryUsageApiService service

type ApiListDeliveryUsageRequest struct {
	ctx _context.Context
	ApiService *DeliveryUsageApiService
	page *int32
	limit *int32
	assetId *string
	timeframe *[]string
}

func (r ApiListDeliveryUsageRequest) Page(page int32) ApiListDeliveryUsageRequest {
	r.page = &page
	return r
}
func (r ApiListDeliveryUsageRequest) Limit(limit int32) ApiListDeliveryUsageRequest {
	r.limit = &limit
	return r
}
func (r ApiListDeliveryUsageRequest) AssetId(assetId string) ApiListDeliveryUsageRequest {
	r.assetId = &assetId
	return r
}
func (r ApiListDeliveryUsageRequest) Timeframe(timeframe []string) ApiListDeliveryUsageRequest {
	r.timeframe = &timeframe
	return r
}

func (r ApiListDeliveryUsageRequest) Execute() (ListDeliveryUsageResponse, *_nethttp.Response, error) {
	return r.ApiService.ListDeliveryUsageExecute(r)
}

/*
 * ListDeliveryUsage List Usage
 * Returns a list of delivery usage records and their associated Asset IDs or Live Stream IDs.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiListDeliveryUsageRequest
 */
func (a *DeliveryUsageApiService) ListDeliveryUsage(ctx _context.Context) ApiListDeliveryUsageRequest {
	return ApiListDeliveryUsageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return ListDeliveryUsageResponse
 */
func (a *DeliveryUsageApiService) ListDeliveryUsageExecute(r ApiListDeliveryUsageRequest) (ListDeliveryUsageResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ListDeliveryUsageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeliveryUsageApiService.ListDeliveryUsage")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/video/v1/delivery-usage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.assetId != nil {
		localVarQueryParams.Add("asset_id", parameterToString(*r.assetId, ""))
	}
	if r.timeframe != nil {
		t := *r.timeframe
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("timeframe[]", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("timeframe[]", parameterToString(t, "multi"))
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
