openapi: 3.0.3
info:
  contact:
    email: devex@mux.com
    name: Mux DevEx
    url: https://docs.mux.com
  description: Mux is how developers build online video. This API encompasses both
    Mux Video and Mux Data functionality to help you build your video-related projects
    better and faster than ever before.
  title: Mux API
  version: v1
servers:
- description: Mux Production Environment
  url: https://api.mux.com
security:
- accessToken: []
tags:
- description: |-
    An asset refers to a piece of media content that is stored or is being live streamed through the Mux system. An asset always has a duration and one or more tracks (audio, video, and text data).

    The media content of an asset cannot be updated once created, however an asset can be used to create another asset, and can be modified within that process.
  name: Assets
- description: |-
    A Live Stream represents a unique live stream of video being pushed to Mux. It includes configuration details (a Stream Key) for live broadcasting software/hardware and a Playback ID for playing the stream anywhere. Currently, RTMP is the only supported method of ingesting video. Use rtmp://global-live.mux.com:5222/app with the Live Stream's Stream Key for getting the video into Mux, and use https://stream.mux.com with the Live Stream's Playback ID for playback.

    A Live Stream can be used once for a specific event, or re-used forever. If you're building an application like Facebook Live or Twitch, you could create one Live Stream per user. This allows them to configure their broadcasting software once, and the Live Stream Playback ID will always show their latest stream.

    Each RTMP session creates a new video asset automatically. You can set up a webhook to be notified each time a broadcast (or Live Stream RTMP session) begins or ends with the video.live_stream.active and video.live_stream.idle events respectively. Assets that are created from a Live Stream have the same behavior as other Assets you create.

    Learn more about [how to go live in our guides](https://docs.mux.com/docs/live-streaming).
  name: Live Streams
- description: A URL signing key is used as the secret when signing any Mux URL. Mux
    requires a [JSON Web Token](https://jwt.io/) as the value of the token query parameter.
    The token query parameter must be set for URLs that reference a playback ID with
    a signed playback policy.
  name: URL Signing Keys
- description: |-
    Direct upload allows you to push assets directly to Mux storage instead of needing to go through your own first. When you create a new direct upload, we'll give you back a signed URL for a Google Cloud Storage bucket. Their storage API is S3 compatible, so whatever tool you use to upload to either GCS or S3 should work, just remember you're probably uploading large video files and should [take advantage of things like resumable or multipart uploads](https://cloud.google.com/storage/docs/json_api/v1/how-tos/resumable-upload).

    Particularly for customers that deal with a lot of user-generated content, it's common to expect quite a few abandoned uploads. To keep those abandoned uploads from cluttering up your asset lists, we don't create an asset for you until the upload is complete. Once that asset is created, you can expect all of the normal asset-related webhooks.
  name: Direct Upload
- description: |-
    The Delivery Usage API allows you to get delivery/streaming usage details for each asset and across all assets. Delivery usage details are aggregated every hour at the top of the hour and can be requested for a specified time window within the last 90 days starting at 12 hours prior to when the request is made.

    Assets are ordered by delivery usage starting with the one with the highest usage. Only assets with delivery usage greater than 0 seconds are returned in the response.
  name: Delivery Usage
- description: An individual video view tracked by Mux Data. For the full list of
    properties for each view please refer to the table of data fields in the [Export
    raw video view data guide](https://docs.mux.com/guides/data/export-raw-video-view-data).
  name: Video Views
- description: A list of playback errors detected by Mux Data.
  name: Errors
paths:
  /video/v1/assets:
    get:
      description: List all Mux assets.
      operationId: list-assets
      parameters:
      - description: Number of items to include in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: Offset by this many pages, of the size of `limit`
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: Filter response to return all the assets for this live stream
          only
        explode: true
        in: query
        name: live_stream_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter response to return an asset created from this direct upload
          only
        explode: true
        in: query
        name: upload_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - tracks:
                  - type: video
                    max_width: 1920
                    max_height: 800
                    max_frame_rate: 24
                    id: HK01Bq7FrEQmIu3QpRiZZ98HQOOZjm6BYyg17eEunlyo
                    duration: 734.166667
                  - type: audio
                    max_channels: 2
                    max_channel_layout: stereo
                    id: nNKHJqw2G9cE019AoK16CJr3O27gGnbtW4w525hJWqWw
                    duration: 734.143991
                  status: ready
                  playback_ids:
                  - policy: public
                    id: 85g23gYz7NmQu02YsY81ihuod6cZMxCp017ZrfglyLCKc
                  mp4_support: none
                  max_stored_resolution: HD
                  max_stored_frame_rate: 24
                  master_access: none
                  id: 8jd7M77xQgf2NzuocJRPYdSdEfY5dLlcRwFARtgQqU4
                  duration: 734.25
                  created_at: "1609869152"
                  aspect_ratio: 12:5
                - tracks:
                  - type: video
                    max_width: 1920
                    max_height: 1080
                    max_frame_rate: 29.97
                    id: RiyQPM31a1SPtfI802bEP2zD02F5FQVNL801FRHeE5t01G4
                    duration: 23.8238
                  - type: audio
                    max_channels: 2
                    max_channel_layout: stereo
                    id: LvINTciHVoC017knMCH01y9pSi5OrDLCRaBPNDAoNJcmg
                    duration: 23.823792
                  status: ready
                  playback_ids:
                  - policy: public
                    id: vAFLI2eKFFicXX00iHBS2vqt5JjJGg5HV6fQ4Xijgt1I
                  mp4_support: none
                  max_stored_resolution: HD
                  max_stored_frame_rate: 29.97
                  master_access: none
                  id: lJ4bGGsp7ZlPf02nMg015W02iHQLN9XnuuLRBsPS00xqd68
                  duration: 23.857167
                  created_at: "1609868768"
                  aspect_ratio: 16:9
              schema:
                $ref: '#/components/schemas/ListAssetsResponse'
          description: OK
      summary: List assets
      tags:
      - Assets
    post:
      description: Create a new Mux Video asset.
      operationId: create-asset
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              input: https://muxed.s3.amazonaws.com/leds.mp4
              playback_policy:
              - public
            schema:
              $ref: '#/components/schemas/CreateAssetRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  status: preparing
                  playback_ids:
                  - policy: public
                    id: uNbxnGLKJ00yfbijDO8COxTOyVKT01xpxW
                  mp4_support: none
                  master_access: none
                  id: SqQnqz6s5MBuXGvJaUWdXuXM93J9Q2yv
                  created_at: "1607452572"
              schema:
                $ref: '#/components/schemas/AssetResponse'
          description: Asset Created
      summary: Create an asset
      tags:
      - Assets
  /video/v1/assets/{ASSET_ID}:
    delete:
      description: Deletes a video asset and all its data.
      operationId: delete-asset
      parameters:
      - description: The asset ID.
        explode: false
        in: path
        name: ASSET_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete an asset
      tags:
      - Assets
    get:
      description: Retrieves the details of an asset that has previously been created.
        Supply the unique asset ID that was returned from your previous request, and
        Mux will return the corresponding asset information. The same information
        is returned when creating an asset.
      operationId: get-asset
      parameters:
      - description: The asset ID.
        explode: false
        in: path
        name: ASSET_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  tracks:
                  - type: video
                    max_width: 1920
                    max_height: 1080
                    max_frame_rate: 29.97
                    id: RiyQPM31a1SPtfI802bEP2zD02F5FQVNL801FRHeE5t01G4
                    duration: 23.8238
                  - type: audio
                    max_channels: 2
                    max_channel_layout: stereo
                    id: LvINTciHVoC017knMCH01y9pSi5OrDLCRaBPNDAoNJcmg
                    duration: 23.823792
                  status: ready
                  playback_ids:
                  - policy: public
                    id: vAFLI2eKFFicXX00iHBS2vqt5JjJGg5HV6fQ4Xijgt1I
                  mp4_support: none
                  max_stored_resolution: HD
                  max_stored_frame_rate: 29.97
                  master_access: none
                  id: lJ4bGGsp7ZlPf02nMg015W02iHQLN9XnuuLRBsPS00xqd68
                  duration: 23.857167
                  created_at: "1609868768"
                  aspect_ratio: 16:9
              schema:
                $ref: '#/components/schemas/AssetResponse'
          description: OK
      summary: Retrieve an asset
      tags:
      - Assets
  /video/v1/assets/{ASSET_ID}/input-info:
    get:
      description: Returns a list of the input objects that were used to create the
        asset along with any settings that were applied to each input.
      operationId: get-asset-input-info
      parameters:
      - description: The asset ID.
        explode: false
        in: path
        name: ASSET_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - settings:
                    url: https://muxed.s3.amazonaws.com/leds.mp4
                  file:
                    container_format: mp4
                    tracks:
                    - type: video
                      duration: 120
                      width: 1280
                      height: 720
                      frame_rate: 30
                      encoding: h.264
                    - type: audio
                      duration: 120
                      sample_rate: 16000
                      sample_size: 24
                      encoding: aac
                - settings:
                    url: https://exmaple.com/myVideo_en.srt
                  file:
                    container_format: srt
              schema:
                $ref: '#/components/schemas/GetAssetInputInfoResponse'
          description: OK
      summary: Retrieve asset input info
      tags:
      - Assets
  /video/v1/assets/{ASSET_ID}/playback-ids:
    post:
      operationId: create-asset-playback-id
      parameters:
      - description: The asset ID.
        explode: false
        in: path
        name: ASSET_ID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              policy: public
            schema:
              $ref: '#/components/schemas/CreatePlaybackIDRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  policy: public
                  id: Lj02VZDorh9hCV00flNqPli8fmwf6KEppug01w8zDEYVlQ
              schema:
                $ref: '#/components/schemas/CreatePlaybackIDResponse'
          description: Created
      summary: Create a playback ID
      tags:
      - Assets
  /video/v1/assets/{ASSET_ID}/playback-ids/{PLAYBACK_ID}:
    delete:
      operationId: delete-asset-playback-id
      parameters:
      - description: The asset ID.
        explode: false
        in: path
        name: ASSET_ID
        required: true
        schema:
          type: string
        style: simple
      - description: The live stream's playback ID.
        explode: false
        in: path
        name: PLAYBACK_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete a playback ID
      tags:
      - Assets
    get:
      operationId: get-asset-playback-id
      parameters:
      - description: The asset ID.
        explode: false
        in: path
        name: ASSET_ID
        required: true
        schema:
          type: string
        style: simple
      - description: The live stream's playback ID.
        explode: false
        in: path
        name: PLAYBACK_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  policy: public
                  id: vAFLI2eKFFicXX00iHBS2vqt5JjJGg5HV6fQ4Xijgt1I
              schema:
                $ref: '#/components/schemas/GetAssetPlaybackIDResponse'
          description: OK
      summary: Retrieve a playback ID
      tags:
      - Assets
  /video/v1/assets/{ASSET_ID}/mp4-support:
    put:
      description: Allows you to add or remove mp4 support for assets that were created
        without it. Currently there are two values supported in this request, `standard`
        and `none`. `none` means that an asset *does not* have mp4 support, so submitting
        a request with `mp4_support` set to `none` will delete the mp4 assets from
        the asset in question.
      operationId: update-asset-mp4-support
      parameters:
      - description: The asset ID.
        explode: false
        in: path
        name: ASSET_ID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              mp4_support: standard
            schema:
              $ref: '#/components/schemas/UpdateAssetMP4SupportRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  tracks:
                  - type: video
                    max_width: 1920
                    max_height: 1080
                    max_frame_rate: 29.97
                    id: RiyQPM31a1SPtfI802bEP2zD02F5FQVNL801FRHeE5t01G4
                    duration: 23.8238
                  - type: audio
                    max_channels: 2
                    max_channel_layout: stereo
                    id: LvINTciHVoC017knMCH01y9pSi5OrDLCRaBPNDAoNJcmg
                    duration: 23.823792
                  status: ready
                  static_renditions:
                    status: preparing
                  playback_ids:
                  - policy: public
                    id: Lj02VZDorh9hCV00flNqPli8fmwf6KEppug01w8zDEYVlQ
                  mp4_support: standard
                  max_stored_resolution: HD
                  max_stored_frame_rate: 29.97
                  master_access: none
                  id: lJ4bGGsp7ZlPf02nMg015W02iHQLN9XnuuLRBsPS00xqd68
                  duration: 23.857167
                  created_at: "1609868768"
                  aspect_ratio: 16:9
              schema:
                $ref: '#/components/schemas/AssetResponse'
          description: OK
      summary: Update MP4 support
      tags:
      - Assets
  /video/v1/assets/{ASSET_ID}/master-access:
    put:
      description: |-
        Allows you to add temporary access to the master (highest-quality) version of the asset in MP4 format. A URL will be created that can be used to download the master version for 24 hours. After 24 hours Master Access will revert to "none".
        This master version is not optimized for web and not meant to be streamed, only downloaded for purposes like archiving or editing the video offline.
      operationId: update-asset-master-access
      parameters:
      - description: The asset ID.
        explode: false
        in: path
        name: ASSET_ID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              master_access: temporary
            schema:
              $ref: '#/components/schemas/UpdateAssetMasterAccessRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  tracks:
                  - type: video
                    max_width: 1920
                    max_height: 1080
                    max_frame_rate: 29.97
                    id: RiyQPM31a1SPtfI802bEP2zD02F5FQVNL801FRHeE5t01G4
                    duration: 23.8238
                  - type: audio
                    max_channels: 2
                    max_channel_layout: stereo
                    id: LvINTciHVoC017knMCH01y9pSi5OrDLCRaBPNDAoNJcmg
                    duration: 23.823792
                  status: ready
                  playback_ids:
                  - policy: public
                    id: Lj02VZDorh9hCV00flNqPli8fmwf6KEppug01w8zDEYVlQ
                  mp4_support: none
                  max_stored_resolution: HD
                  max_stored_frame_rate: 29.97
                  master_access: temporary
                  master:
                    status: preparing
                  id: lJ4bGGsp7ZlPf02nMg015W02iHQLN9XnuuLRBsPS00xqd68
                  duration: 23.857167
                  created_at: "1609868768"
                  aspect_ratio: 16:9
              schema:
                $ref: '#/components/schemas/AssetResponse'
          description: OK
      summary: Update master access
      tags:
      - Assets
  /video/v1/assets/{ASSET_ID}/tracks:
    post:
      operationId: create-asset-track
      parameters:
      - description: The asset ID.
        explode: false
        in: path
        name: ASSET_ID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              url: https://example.com/myVideo_en.srt
              type: text
              text_type: subtitles
              language_code: en-US
              name: English
              closed_captions: true
              passthrough: English
            schema:
              $ref: '#/components/schemas/CreateTrackRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  type: text
                  text_type: subtitles
                  status: preparing
                  passthrough: English
                  name: English
                  language_code: en-US
                  id: xBe7u01029ipxBLQhYzZCJ1cke01zCkuUsgnYtH0017nNzbpv2YcsoMDmw
                  closed_captions: true
              schema:
                $ref: '#/components/schemas/CreateTrackResponse'
          description: Created
      summary: Create an asset track
      tags:
      - Assets
  /video/v1/assets/{ASSET_ID}/tracks/{TRACK_ID}:
    delete:
      operationId: delete-asset-track
      parameters:
      - description: The asset ID.
        explode: false
        in: path
        name: ASSET_ID
        required: true
        schema:
          type: string
        style: simple
      - description: The track ID.
        explode: false
        in: path
        name: TRACK_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete an asset track
      tags:
      - Assets
  /video/v1/live-streams:
    get:
      operationId: list-live-streams
      parameters:
      - description: Number of items to include in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: Offset by this many pages, of the size of `limit`
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: Filter response to return live stream for this stream key only
        explode: true
        in: query
        name: stream_key
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - stream_key: 831b5bde-cd8a-5bc4-115d-4ba34b19f481
                  status: idle
                  reconnect_window: 60
                  playback_ids:
                  - policy: public
                    id: HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018
                  new_asset_settings:
                    playback_policies:
                    - public
                  id: ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag
                  created_at: "1609937654"
                - stream_key: d273c65e-1fc8-27dc-e9ef-56144cbceb3a
                  status: idle
                  reconnect_window: 60
                  recent_asset_ids:
                  - SZs02xxHgYdkHp00OSCjJiHUHqzVQZNU332XPXRxe341o
                  - e4J9cwb5tjVxMeeV8201dC00i800ThPKKGT2SEN002dHH2s
                  playback_ids:
                  - policy: public
                    id: 00zOcribkUmXqXHzBTpflk2771BRTcKATqPjWf7JHpuM
                  new_asset_settings:
                    playback_policies:
                    - public
                  id: B65hEUWW01ErVKDDGImKcBquYhwEAkjW6Ic3lPY0299Cc
                  created_at: "1607587513"
              schema:
                $ref: '#/components/schemas/ListLiveStreamsResponse'
          description: OK
      summary: List live streams
      tags:
      - Live Streams
    post:
      operationId: create-live-stream
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              playback_policy: public
              new_asset_settings:
                playback_policy: public
            schema:
              $ref: '#/components/schemas/CreateLiveStreamRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  stream_key: abcdefgh
                  status: idle
                  reconnect_window: 60
                  playback_ids:
                  - policy: public
                    id: HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018
                  new_asset_settings:
                    playback_policies:
                    - public
                  id: ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag
                  created_at: "1609937654"
              schema:
                $ref: '#/components/schemas/LiveStreamResponse'
          description: Created
      summary: Create a live stream
      tags:
      - Live Streams
  /video/v1/live-streams/{LIVE_STREAM_ID}:
    delete:
      operationId: delete-live-stream
      parameters:
      - description: The live stream ID
        explode: false
        in: path
        name: LIVE_STREAM_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete a live stream
      tags:
      - Live Streams
    get:
      description: Retrieves the details of a live stream that has previously been
        created. Supply the unique live stream ID that was returned from your previous
        request, and Mux will return the corresponding live stream information. The
        same information is returned when creating a live stream.
      operationId: get-live-stream
      parameters:
      - description: The live stream ID
        explode: false
        in: path
        name: LIVE_STREAM_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  stream_key: 831b5bde-cd8a-5bc4-115d-4ba34b19f481
                  status: idle
                  reconnect_window: 60
                  playback_ids:
                  - policy: public
                    id: HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018
                  new_asset_settings:
                    playback_policies:
                    - public
                  id: ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag
                  created_at: "1609937654"
              schema:
                $ref: '#/components/schemas/LiveStreamResponse'
          description: OK
      summary: Retrieve a live stream
      tags:
      - Live Streams
  /video/v1/live-streams/{LIVE_STREAM_ID}/playback-ids:
    post:
      operationId: create-live-stream-playback-id
      parameters:
      - description: The live stream ID
        explode: false
        in: path
        name: LIVE_STREAM_ID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              policy: signed
            schema:
              $ref: '#/components/schemas/CreatePlaybackIDRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  policy: public
                  id: 4O902oOPU100s7XIQgOeY01U7dHzYlBe26zi3Sq01EJqnxw
              schema:
                $ref: '#/components/schemas/CreatePlaybackIDResponse'
          description: Created
      summary: Create a live stream playback ID
      tags:
      - Live Streams
  /video/v1/live-streams/{LIVE_STREAM_ID}/playback-ids/{PLAYBACK_ID}:
    delete:
      operationId: delete-live-stream-playback-id
      parameters:
      - description: The live stream ID
        explode: false
        in: path
        name: LIVE_STREAM_ID
        required: true
        schema:
          type: string
        style: simple
      - description: The live stream's playback ID.
        explode: false
        in: path
        name: PLAYBACK_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete a live stream playback ID
      tags:
      - Live Streams
  /video/v1/live-streams/{LIVE_STREAM_ID}/reset-stream-key:
    post:
      description: Reset a live stream key if you want to immediately stop the current
        stream key from working and create a new stream key that can be used for future
        broadcasts.
      operationId: reset-stream-key
      parameters:
      - description: The live stream ID
        explode: false
        in: path
        name: LIVE_STREAM_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  stream_key: acaf2ca1-ba9c-5ffe-8c9c-a02bbf0009a6
                  status: idle
                  reconnect_window: 60
                  playback_ids:
                  - policy: public
                    id: HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018
                  - policy: public
                    id: 4O902oOPU100s7XIQgOeY01U7dHzYlBe26zi3Sq01EJqnxw
                  new_asset_settings:
                    playback_policies:
                    - public
                  id: ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag
                  created_at: "1609937654"
              schema:
                $ref: '#/components/schemas/LiveStreamResponse'
          description: Created
      summary: Reset a live stream’s stream key
      tags:
      - Live Streams
  /video/v1/live-streams/{LIVE_STREAM_ID}/complete:
    put:
      description: |
        (Optional) End the live stream recording immediately instead of waiting for the reconnect_window. `EXT-X-ENDLIST` tag is added to the HLS manifest which notifies the player that this live stream is over.

        Mux does not close the encoder connection immediately. Encoders are often configured to re-establish connections immediately which would result in a new recorded asset. For this reason, Mux waits for 60s before closing the connection with the encoder. This 60s timeframe is meant to give encoder operators a chance to disconnect from their end.
      operationId: signal-live-stream-complete
      parameters:
      - description: The live stream ID
        explode: false
        in: path
        name: LIVE_STREAM_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data: {}
              schema:
                $ref: '#/components/schemas/SignalLiveStreamCompleteResponse'
          description: OK
      summary: Signal a live stream is finished
      tags:
      - Live Streams
  /video/v1/live-streams/{LIVE_STREAM_ID}/disable:
    put:
      description: |
        Disables a live stream, making it reject incoming RTMP streams until re-enabled. The API also ends the live stream recording immediately when active. Ending the live stream recording adds the `EXT-X-ENDLIST` tag to the HLS manifest which notifies the player that this live stream is over.

        Mux also closes the encoder connection immediately. Any attempt from the encoder to re-establish connection will fail till the live stream is re-enabled.
      operationId: disable-live-stream
      parameters:
      - description: The live stream ID
        explode: false
        in: path
        name: LIVE_STREAM_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data: {}
              schema:
                $ref: '#/components/schemas/DisableLiveStreamResponse'
          description: OK
      summary: Disable a live stream
      tags:
      - Live Streams
  /video/v1/live-streams/{LIVE_STREAM_ID}/enable:
    put:
      description: Enables a live stream, allowing it to accept an incoming RTMP stream.
      operationId: enable-live-stream
      parameters:
      - description: The live stream ID
        explode: false
        in: path
        name: LIVE_STREAM_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data: {}
              schema:
                $ref: '#/components/schemas/EnableLiveStreamResponse'
          description: OK
      summary: Enable a live stream
      tags:
      - Live Streams
  /video/v1/playback-ids/{PLAYBACK_ID}:
    get:
      description: Retrieves the Identifier of the Asset or Live Stream associated
        with the Playback ID.
      operationId: get-asset-or-livestream-id
      parameters:
      - description: The live stream's playback ID.
        explode: false
        in: path
        name: PLAYBACK_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: a1B2c3D4e5F6g7H8i9
                  policy: public
                  object:
                    type: asset
                    id: "123456789012345678"
              schema:
                $ref: '#/components/schemas/GetAssetOrLiveStreamIdResponse'
          description: OK
      summary: Retrieve an Asset or Live Stream ID
      tags:
      - Playback ID
  /video/v1/live-streams/{LIVE_STREAM_ID}/simulcast-targets:
    post:
      description: Create a simulcast target for the parent live stream. Simulcast
        target can only be created when the parent live stream is in idle state. Only
        one simulcast target can be created at a time with this API.
      operationId: create-live-stream-simulcast-target
      parameters:
      - description: The live stream ID
        explode: false
        in: path
        name: LIVE_STREAM_ID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              url: rtmp://live.example.com/app
              stream_key: abcdefgh
              passthrough: Example
            schema:
              $ref: '#/components/schemas/CreateSimulcastTargetRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  url: rtmp://live.example.com/app
                  stream_key: abcdefgh
                  status: idle
                  passthrough: Example
                  id: le1axfGDc9ETqh6trHNTxGQ9XEhj02fOnX0200aAh24fwlmwzqKCYNJgw
              schema:
                $ref: '#/components/schemas/SimulcastTargetResponse'
          description: Created
      summary: Create a live stream simulcast target
      tags:
      - Live Streams
  /video/v1/live-streams/{LIVE_STREAM_ID}/simulcast-targets/{SIMULCAST_TARGET_ID}:
    delete:
      description: Delete the simulcast target using the simulcast target ID returned
        when creating the simulcast target. Simulcast Target can only be deleted when
        the parent live stream is in idle state.
      operationId: delete-live-stream-simulcast-target
      parameters:
      - description: The live stream ID
        explode: false
        in: path
        name: LIVE_STREAM_ID
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the simulcast target.
        explode: false
        in: path
        name: SIMULCAST_TARGET_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete a Live Stream Simulcast Target
      tags:
      - Live Streams
    get:
      description: Retrieves the details of the simulcast target created for the parent
        live stream. Supply the unique live stream ID and simulcast target ID that
        was returned in the response of create simulcast target request, and Mux will
        return the corresponding information.
      operationId: get-live-stream-simulcast-target
      parameters:
      - description: The live stream ID
        explode: false
        in: path
        name: LIVE_STREAM_ID
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the simulcast target.
        explode: false
        in: path
        name: SIMULCAST_TARGET_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  url: rtmp://live.example.com/app
                  stream_key: abcdefgh
                  status: idle
                  passthrough: Example
                  id: 02FU00rPq00fC9S6kygrqlxygGMdpW1lk00BkFpCfc2kGregEIr7brt7CQ
              schema:
                $ref: '#/components/schemas/SimulcastTargetResponse'
          description: OK
      summary: Retrieve a Live Stream Simulcast Target
      tags:
      - Live Streams
  /video/v1/signing-keys:
    get:
      description: Returns a list of URL signing keys.
      operationId: list-url-signing-keys
      parameters:
      - description: Number of items to include in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: Offset by this many pages, of the size of `limit`
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: vI5KTQ78ohYriuvWKHY6COtZWXexHGLllxksOdZuya8
                  created_at: "1610108345"
                - id: jc6lJiCLMjyC202EXtRQ644sShzDv6x5tWJrbvUFpvmo
                  created_at: "1608632647"
              schema:
                $ref: '#/components/schemas/ListSigningKeysResponse'
          description: OK
      summary: List URL signing keys
      tags:
      - URL Signing Keys
    post:
      description: Creates a new signing key pair. When creating a new signing key,
        the API will generate a 2048-bit RSA key-pair and return the private key and
        a generated key-id; the public key will be stored at Mux to validate signed
        tokens.
      operationId: create-url-signing-key
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  private_key: abcd123=
                  id: vI5KTQ78ohYriuvWKHY6COtZWXexHGLllxksOdZuya8
                  created_at: "1610108345"
              schema:
                $ref: '#/components/schemas/SigningKeyResponse'
          description: Created
      summary: Create a URL signing key
      tags:
      - URL Signing Keys
  /video/v1/signing-keys/{SIGNING_KEY_ID}:
    delete:
      description: Deletes an existing signing key. Use with caution, as this will
        invalidate any existing signatures and no URLs can be signed using the key
        again.
      operationId: delete-url-signing-key
      parameters:
      - description: The ID of the signing key.
        explode: false
        in: path
        name: SIGNING_KEY_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete a URL signing key
      tags:
      - URL Signing Keys
    get:
      description: |
        Retrieves the details of a URL signing key that has previously
        been created. Supply the unique signing key ID that was returned from your
        previous request, and Mux will return the corresponding signing key information.
        **The private key is not returned in this response.**
      operationId: get-url-signing-key
      parameters:
      - description: The ID of the signing key.
        explode: false
        in: path
        name: SIGNING_KEY_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: jc6lJiCLMjyC202EXtRQ644sShzDv6x5tWJrbvUFpvmo
                  created_at: "1608632647"
              schema:
                $ref: '#/components/schemas/SigningKeyResponse'
          description: OK
      summary: Retrieve a URL signing key
      tags:
      - URL Signing Keys
  /video/v1/uploads:
    get:
      operationId: list-direct-uploads
      parameters:
      - description: Number of items to include in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: Offset by this many pages, of the size of `limit`
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - url: https://storage.googleapis.com/video-storage-us-east1-uploads/zd01Pe2bNpYhxbrwYABgFE01twZdtv4M00kts2i02GhbGjc?Expires=1610112458&GoogleAccessId=mux-direct-upload%40mux-cloud.iam.gserviceaccount.com&Signature=LCu4PMoKUo%2BJkWQAUwB9WU4bWVVfW3K5bZxSxEptBz3DrjbFxNyGvs0sriyJupZh9Jdb6FxKWFIRbxEetfnAAiesOvSPH%2F1GlIichmGg3YfebfxiX77%2B6ToFF6FMkJucBo284PD90AVLHhKagOea2VsbdO0fh78MAxGH9sEspyQ2uJEfYWjHFqYQ9smJyIuM3CYOmN5HKPgRWy2yUqzV7OTMe%2FivPO4%2FX6XiiN2J4nTmy83252CJUsHIvbiGctfKxcNI6b23UVN4B1tJTVgyxTOZiBQCkMLkD%2FEe5OhoAkvJgkqENRr0q3swO0IChDDWjrh7OTMwqvWGwAoVXEGiHg%3D%3D&upload_id=ABg5-UznTdib1HhOAMjdHhWIYqBbwmSYM6dVKyPe3v33uTeEE8gkN5QzvR3cei6uSZOSrjPn7bdvvDH3nhsrLBq8AjWY2qE4UQ
                  timeout: 3600
                  status: waiting
                  new_asset_settings:
                    playback_policies:
                    - public
                    mp4_support: standard
                  id: zd01Pe2bNpYhxbrwYABgFE01twZdtv4M00kts2i02GhbGjc
                  cors_origin: https://example.com/
                - timeout: 3600
                  status: asset_created
                  new_asset_settings:
                    playback_policies:
                    - public
                    mp4_support: standard
                  id: YzoCL01HHOtAVYq4Ds9zekdHJ2XqL9e8ukPWbr01KhtvM
                  asset_id: AnFVqAVXfb7vVL3ypSQDMnJZunnb8nkwe02O00p2gK8P00
                - timeout: 10800
                  status: cancelled
                  new_asset_settings:
                    playback_policies:
                    - public
                    mp4_support: standard
                  id: AZcWu0201SqVW01LMdmVxE00m3gEWUFZPItvni1sTqF800dQ
              schema:
                $ref: '#/components/schemas/ListUploadsResponse'
          description: OK
      summary: List direct uploads
      tags:
      - Direct Uploads
    post:
      operationId: create-direct-upload
      requestBody:
        content:
          application/json:
            example:
              cors_origin: https://example.com/
              new_asset_settings:
                playback_policy:
                - public
                mp4_support: standard
            schema:
              $ref: '#/components/schemas/CreateUploadRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
              - url: https://storage.googleapis.com/video-storage-us-east1-uploads/zd01Pe2bNpYhxbrwYABgFE01twZdtv4M00kts2i02GhbGjc?Expires=1610112458&GoogleAccessId=mux-direct-upload%40mux-cloud.iam.gserviceaccount.com&Signature=LCu4PMoKUo%2BJkWQAUwB9WU4bWVVfW3K5bZxSxEptBz3DrjbFxNyGvs0sriyJupZh9Jdb6FxKWFIRbxEetfnAAiesOvSPH%2F1GlIichmGg3YfebfxiX77%2B6ToFF6FMkJucBo284PD90AVLHhKagOea2VsbdO0fh78MAxGH9sEspyQ2uJEfYWjHFqYQ9smJyIuM3CYOmN5HKPgRWy2yUqzV7OTMe%2FivPO4%2FX6XiiN2J4nTmy83252CJUsHIvbiGctfKxcNI6b23UVN4B1tJTVgyxTOZiBQCkMLkD%2FEe5OhoAkvJgkqENRr0q3swO0IChDDWjrh7OTMwqvWGwAoVXEGiHg%3D%3D&upload_id=ABg5-UznTdib1HhOAMjdHhWIYqBbwmSYM6dVKyPe3v33uTeEE8gkN5QzvR3cei6uSZOSrjPn7bdvvDH3nhsrLBq8AjWY2qE4UQ
                timeout: 3600
                status: waiting
                new_asset_settings:
                  playback_policies:
                  - public
                  mp4_support: standard
                id: zd01Pe2bNpYhxbrwYABgFE01twZdtv4M00kts2i02GhbGjc
                cors_origin: https://example.com/
              schema:
                $ref: '#/components/schemas/UploadResponse'
          description: Created
      summary: Create a new direct upload URL
      tags:
      - Direct Uploads
  /video/v1/uploads/{UPLOAD_ID}:
    get:
      operationId: get-direct-upload
      parameters:
      - description: ID of the Upload
        example: abcd1234
        explode: false
        in: path
        name: UPLOAD_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  timeout: 3600
                  status: asset_created
                  new_asset_settings:
                    playback_policies:
                    - public
                    mp4_support: standard
                  id: YzoCL01HHOtAVYq4Ds9zekdHJ2XqL9e8ukPWbr01KhtvM
                  asset_id: AnFVqAVXfb7vVL3ypSQDMnJZunnb8nkwe02O00p2gK8P00
              schema:
                $ref: '#/components/schemas/UploadResponse'
          description: OK
      summary: Retrieve a single direct upload's info
      tags:
      - Direct Uploads
  /video/v1/uploads/{UPLOAD_ID}/cancel:
    put:
      description: |
        Cancels a direct upload and marks it as cancelled. If a pending upload finishes after this
        request, no asset will be created. This request will only succeed if the upload is still in
        the `waiting` state.
      operationId: cancel-direct-upload
      parameters:
      - description: ID of the Upload
        example: abcd1234
        explode: false
        in: path
        name: UPLOAD_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  timeout: 3600
                  status: cancelled
                  new_asset_settings:
                    playback_policies:
                    - public
                    mp4_support: standard
                  id: zd01Pe2bNpYhxbrwYABgFE01twZdtv4M00kts2i02GhbGjc
                  cors_origin: https://example.com/
              schema:
                $ref: '#/components/schemas/UploadResponse'
          description: OK
        "403":
          description: Cancellation no longer possible
      summary: Cancel a direct upload
      tags:
      - Direct Uploads
  /video/v1/delivery-usage:
    get:
      description: Returns a list of delivery usage records and their associated Asset
        IDs or Live Stream IDs.
      operationId: list-delivery-usage
      parameters:
      - description: Offset by this many pages, of the size of `limit`
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: Number of items to include in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      - description: Filter response to return delivery usage for this asset only.
        explode: true
        in: query
        name: asset_id
        required: false
        schema:
          type: string
        style: form
      - description: Time window to get delivery usage information. timeframe[0] indicates
          the start time, timeframe[1] indicates the end time in seconds since the
          Unix epoch. Default time window is 1 hour representing usage from 13th to
          12th hour from when the request is made.
        explode: true
        in: query
        name: timeframe[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                total_row_count: 2
                timeframe:
                - 1607817600
                - 1607990400
                page: 1
                limit: 100
                data:
                - live_stream_id: B65hEUWW01ErVKDDGImKcBquYhwEAkjW6Ic3lPY0299Cc
                  delivered_seconds: 206.366667
                  deleted_at: "1607945257"
                  created_at: "1607939184"
                  asset_state: deleted
                  asset_id: Ww4v2q2H4MNbHIAM2wApKb3cmrh7eHjGLUjdKohR5wM
                  asset_duration: 154.366667
                - delivered_seconds: 30
                  deleted_at: "1607935288"
                  created_at: "1607617107"
                  asset_state: deleted
                  asset_id: Qlb007on1TwN43XLIG027QJlUxm3jd01v5PRi1aXhnyFZY
                  asset_duration: 98.773667
              schema:
                $ref: '#/components/schemas/ListDeliveryUsageResponse'
          description: OK
      summary: List Usage
      tags:
      - Delivery Usage
  /data/v1/video-views:
    get:
      description: Returns a list of video views.
      operationId: list-video-views
      parameters:
      - description: Number of items to include in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: Offset by this many pages, of the size of `limit`
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: Viewer ID to filter results by. This value may be provided by
          the integration, or may be created by Mux.
        explode: true
        in: query
        name: viewer_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter video views by the provided error ID (as returned in the
          error_type_id field in the list video views endpoint). If you provide any
          as the error ID, this will filter the results to those with any error.
        explode: true
        in: query
        name: error_id
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Sort order.
        explode: true
        in: query
        name: order_direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: |
          Filter key:value pairs. Must be provided as an array query string parameter (e.g. filters[]=operating_system:windows&filters[]=country:US).
          Possible filter names are the same as returned by the List Filters endpoint.
        explode: true
        in: query
        name: filters[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=). Accepted formats are...
            * array of epoch timestamps e.g. timeframe[]=1498867200&timeframe[]=1498953600
            * duration string e.g. timeframe[]=24:hours or timeframe[]=7:days.
        explode: true
        in: query
        name: timeframe[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                total_row_count: 4
                timeframe:
                - 1610025789
                - 1610112189
                data:
                - viewer_os_family: OS X
                  viewer_application_name: Chrome
                  view_start: 2021-01-07T20:34:06Z
                  view_end: 2021-01-07T20:46:04Z
                  video_title: my-title
                  total_row_count: 4
                  player_error_message: null
                  player_error_code: null
                  id: JpA81zBfGaGZ85C6aGF3bptyD4CKwpdNgamr
                  error_type_id: null
                  country_code: US
                - viewer_os_family: OS X
                  viewer_application_name: Chrome
                  view_start: 2021-01-07T20:21:53Z
                  view_end: 2021-01-07T20:34:03Z
                  video_title: ""
                  total_row_count: 4
                  player_error_message: null
                  player_error_code: null
                  id: jPVLR5giYMrLYbHM88Tkn3cM3qCRDk0jL114
                  error_type_id: null
                  country_code: US
                - viewer_os_family: OS X
                  viewer_application_name: Chrome
                  view_start: 2021-01-07T15:16:06Z
                  view_end: 2021-01-07T15:17:06Z
                  video_title: Video Test Title 12.14.20
                  total_row_count: 4
                  player_error_message: null
                  player_error_code: null
                  id: pdLDVKBuPZJJ9YsPVmtmB9FG9gsWBWMmYar4
                  error_type_id: null
                  country_code: US
                - viewer_os_family: OS X
                  viewer_application_name: Chrome
                  view_start: 2021-01-07T15:15:09Z
                  view_end: 2021-01-07T15:15:17Z
                  video_title: Video Test Title 12.14.20
                  total_row_count: 4
                  player_error_message: null
                  player_error_code: null
                  id: zbZPowWtD3z54jcGMLCJJpF79zCjB03bV7o8
                  error_type_id: null
                  country_code: US
              schema:
                $ref: '#/components/schemas/ListVideoViewsResponse'
          description: OK
      summary: List Video Views
      tags:
      - Video Views
  /data/v1/video-views/{VIDEO_VIEW_ID}:
    get:
      description: Returns the details of a video view.
      operationId: get-video-view
      parameters:
      - description: ID of the Video View
        example: abcd1234
        explode: false
        in: path
        name: VIDEO_VIEW_ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoViewResponse'
          description: OK
      summary: Get a Video View
      tags:
      - Video Views
  /data/v1/errors:
    get:
      description: Returns a list of errors.
      operationId: list-errors
      parameters:
      - description: |
          Filter key:value pairs. Must be provided as an array query string parameter (e.g. filters[]=operating_system:windows&filters[]=country:US).
          Possible filter names are the same as returned by the List Filters endpoint.
        explode: true
        in: query
        name: filters[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=). Accepted formats are...
            * array of epoch timestamps e.g. timeframe[]=1498867200&timeframe[]=1498953600
            * duration string e.g. timeframe[]=24:hours or timeframe[]=7:days.
        explode: true
        in: query
        name: timeframe[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                total_row_count: null
                timeframe:
                - 1610027061
                - 1610113461
                data:
                - percentage: null
                  notes: null
                  message: null
                  last_seen: 2021-01-08T13:42:39Z
                  id: null
                  description: null
                  count: 1
                  code: 100
              schema:
                $ref: '#/components/schemas/ListErrorsResponse'
          description: OK
      summary: List Errors
      tags:
      - Errors
  /data/v1/filters:
    get:
      deprecated: true
      description: |
        Deprecated: The API has been replaced by the list-dimensions API call.

        Lists all the filters broken out into basic and advanced.
      operationId: list-filters
      responses:
        "200":
          content:
            application/json:
              example:
                total_row_count: null
                timeframe:
                - 1610027251
                - 1610113651
                data:
                  basic:
                  - browser
                  - operating_system
                  - player_remote_played
                  - player_software
                  - player_software_version
                  - player_mux_plugin_name
                  - player_mux_plugin_version
                  - player_autoplay
                  - player_preload
                  - video_title
                  - video_id
                  - stream_type
                  - source_type
                  - source_hostname
                  - continent_code
                  - country
                  - player_error_code
                  advanced:
                  - browser_version
                  - operating_system_version
                  - viewer_device_name
                  - viewer_device_model
                  - viewer_device_category
                  - viewer_device_manufacturer
                  - player_name
                  - player_version
                  - video_series
                  - video_encoding_variant
                  - experiment_name
                  - sub_property_id
                  - asn
                  - cdn
                  - viewer_connection_type
                  - view_session_id
                  - region
                  - viewer_user_id
                  - exit_before_video_start
                  - preroll_ad_asset_hostname
                  - preroll_ad_tag_hostname
                  - preroll_played
                  - preroll_requested
              schema:
                $ref: '#/components/schemas/ListFiltersResponse'
          description: OK
      summary: List Filters
      tags:
      - Filters
  /data/v1/filters/{FILTER_ID}:
    get:
      deprecated: true
      description: |
        Deprecated: The API has been replaced by the list-dimension-values API call.

        Lists the values for a filter along with a total count of related views.
      operationId: list-filter-values
      parameters:
      - description: ID of the Filter
        example: abcd1234
        explode: false
        in: path
        name: FILTER_ID
        required: true
        schema:
          type: string
        style: simple
      - description: Number of items to include in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: Offset by this many pages, of the size of `limit`
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: |
          Filter key:value pairs. Must be provided as an array query string parameter (e.g. filters[]=operating_system:windows&filters[]=country:US).
          Possible filter names are the same as returned by the List Filters endpoint.
        explode: true
        in: query
        name: filters[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=). Accepted formats are...
            * array of epoch timestamps e.g. timeframe[]=1498867200&timeframe[]=1498953600
            * duration string e.g. timeframe[]=24:hours or timeframe[]=7:days.
        explode: true
        in: query
        name: timeframe[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                total_row_count: 1
                timeframe:
                - 1610028123
                - 1610114523
                data:
                - value: Chrome
                  total_count: 5
              schema:
                $ref: '#/components/schemas/ListFilterValuesResponse'
          description: OK
      summary: Lists values for a specific filter
      tags:
      - Filters
  /data/v1/dimensions:
    get:
      description: |
        List all available dimensions.

        Note: This API replaces the list-filters API call.
      operationId: list-dimensions
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  advanced:
                  - browser_version
                  - operating_system_version
                  - viewer_device_name
                  - viewer_device_model
                  - viewer_device_category
                  - viewer_device_manufacturer
                  - player_name
                  - player_version
                  - video_series
                  - video_encoding_variant
                  - experiment_name
                  - sub_property_id
                  - asn
                  - cdn
                  - viewer_connection_type
                  - view_session_id
                  - region
                  - viewer_user_id
                  - exit_before_video_start
                  - preroll_ad_asset_hostname
                  - preroll_ad_tag_hostname
                  - preroll_played
                  - preroll_requested
                  basic:
                  - browser
                  - operating_system
                  - player_remote_played
                  - player_software
                  - player_software_version
                  - player_mux_plugin_name
                  - player_mux_plugin_version
                  - player_autoplay
                  - player_preload
                  - video_title
                  - video_id
                  - stream_type
                  - source_type
                  - source_hostname
                  - continent_code
                  - country
                  - player_error_code
                timeframe:
                - 1610033879
                - 1610120279
                total_row_count: null
              schema:
                $ref: '#/components/schemas/ListDimensionsResponse'
          description: OK
      summary: List Dimensions
      tags:
      - Dimensions
  /data/v1/dimensions/{DIMENSION_ID}:
    get:
      description: |
        Lists the values for a dimension along with a total count of related views.

        Note: This API replaces the list-filter-values API call.
      operationId: list-dimension-values
      parameters:
      - description: ID of the Dimension
        example: abcd1234
        explode: false
        in: path
        name: DIMENSION_ID
        required: true
        schema:
          type: string
        style: simple
      - description: Number of items to include in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: Offset by this many pages, of the size of `limit`
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: |
          Filter key:value pairs. Must be provided as an array query string parameter (e.g. filters[]=operating_system:windows&filters[]=country:US).
          Possible filter names are the same as returned by the List Filters endpoint.
        explode: true
        in: query
        name: filters[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=). Accepted formats are...
            * array of epoch timestamps e.g. timeframe[]=1498867200&timeframe[]=1498953600
            * duration string e.g. timeframe[]=24:hours or timeframe[]=7:days.
        explode: true
        in: query
        name: timeframe[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - total_count: 10000
                  value: FR
                - total_count: 5000
                  value: ES
                - total_count: 2000
                  value: PT
                - total_count: 100
                  value: DE
                - total_count: 1
                  value: BE
                timeframe:
                - 1610033976
                - 1610120376
                total_row_count: 5
              schema:
                $ref: '#/components/schemas/ListDimensionValuesResponse'
          description: OK
      summary: Lists the values for a specific dimension
      tags:
      - Dimensions
  /data/v1/exports:
    get:
      deprecated: true
      description: |
        Deprecated: The API has been replaced by the list-exports-views API call.

        Lists the available video view exports along with URLs to retrieve them.
      operationId: list-exports
      responses:
        "200":
          content:
            application/json:
              example:
                total_row_count: 10
                timeframe:
                - 1610024528
                - 1610110928
                data:
                - https://s3.amazonaws.com/mux-data-exports/1/2021_01_01.csv.gz?...signature...
                - https://s3.amazonaws.com/mux-data-exports/1/2021_01_02.csv.gz?...signature...
                - https://s3.amazonaws.com/mux-data-exports/1/2021_01_03.csv.gz?...signature...
              schema:
                $ref: '#/components/schemas/ListExportsResponse'
          description: OK
      summary: List property video view export links
      tags:
      - Exports
  /data/v1/exports/views:
    get:
      description: Lists the available video view exports along with URLs to retrieve
        them.
      operationId: list-exports-views
      responses:
        "200":
          content:
            application/json:
              example:
                total_row_count: 7
                timeframe:
                - 1626296941
                - 1626383341
                data:
                - files:
                  - version: 2
                    type: csv
                    path: https://s3.amazonaws.com/mux-data-exports/1/2021_01_03.csv.gz?...signature...
                  export_date: 2021-01-03
                - files:
                  - version: 2
                    type: csv
                    path: https://s3.amazonaws.com/mux-data-exports/1/2021_01_02.csv.gz?...signature...
                  export_date: 2021-01-02
                - files:
                  - version: 2
                    type: csv
                    path: https://s3.amazonaws.com/mux-data-exports/1/2021_01_01.csv.gz?...signature...
                  export_date: 2021-01-01
              schema:
                $ref: '#/components/schemas/ListVideoViewExportsResponse'
          description: OK
      summary: List available property view exports
      tags:
      - Exports
  /data/v1/metrics/{METRIC_ID}/breakdown:
    get:
      description: List the breakdown values for a specific metric.
      operationId: list-breakdown-values
      parameters:
      - description: ID of the Metric
        example: video_startup_time
        explode: false
        in: path
        name: METRIC_ID
        required: true
        schema:
          enum:
          - aggregate_startup_time
          - downscale_percentage
          - exits_before_video_start
          - max_downscale_percentage
          - max_upscale_percentage
          - page_load_time
          - playback_failure_percentage
          - playback_failure_score
          - player_startup_time
          - playing_time
          - rebuffer_count
          - rebuffer_duration
          - rebuffer_frequency
          - rebuffer_percentage
          - rebuffer_score
          - requests_for_first_preroll
          - seek_latency
          - startup_time_score
          - unique_viewers
          - upscale_percentage
          - video_quality_score
          - video_startup_preroll_load_time
          - video_startup_preroll_request_time
          - video_startup_time
          - viewer_experience_score
          - views
          - weighted_average_bitrate
          type: string
        style: simple
      - description: Breakdown value to group the results by
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          enum:
          - asn
          - browser
          - browser_version
          - cdn
          - continent_code
          - country
          - exit_before_video_start
          - experiment_name
          - operating_system
          - operating_system_version
          - player_autoplay
          - player_error_code
          - player_mux_plugin_name
          - player_mux_plugin_version
          - player_name
          - player_preload
          - player_remote_played
          - player_software
          - player_software_version
          - player_version
          - preroll_ad_asset_hostname
          - preroll_ad_tag_hostname
          - preroll_played
          - preroll_requested
          - region
          - source_hostname
          - source_type
          - stream_type
          - sub_property_id
          - video_encoding_variant
          - video_id
          - video_series
          - video_title
          - view_session_id
          - viewer_connection_type
          - viewer_device_category
          - viewer_device_manufacturer
          - viewer_device_model
          - viewer_device_name
          - viewer_user_id
          type: string
        style: form
      - description: Measurement for the provided metric. If omitted, the default
          for the metric will be used.
        explode: true
        in: query
        name: measurement
        required: false
        schema:
          enum:
          - 95th
          - median
          - avg
          - count
          - sum
          type: string
        style: form
      - description: |
          Filter key:value pairs. Must be provided as an array query string parameter (e.g. filters[]=operating_system:windows&filters[]=country:US).
          Possible filter names are the same as returned by the List Filters endpoint.
        explode: true
        in: query
        name: filters[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Number of items to include in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: Offset by this many pages, of the size of `limit`
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: Value to order the results by
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - negative_impact
          - value
          - views
          - field
          type: string
        style: form
      - description: Sort order.
        explode: true
        in: query
        name: order_direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=). Accepted formats are...
            * array of epoch timestamps e.g. timeframe[]=1498867200&timeframe[]=1498953600
            * duration string e.g. timeframe[]=24:hours or timeframe[]=7:days.
        explode: true
        in: query
        name: timeframe[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                total_row_count: 1
                timeframe:
                - 1610028298
                - 1610114698
                meta:
                  aggregation: view_end
                data:
                - views: 5
                  value: 4
                  total_watch_time: 513934
                  total_playing_time: 413934
                  negative_impact: 1
                  field: US
              schema:
                $ref: '#/components/schemas/ListBreakdownValuesResponse'
          description: OK
      summary: List breakdown values
      tags:
      - Metrics
  /data/v1/metrics/{METRIC_ID}/overall:
    get:
      description: Returns the overall value for a specific metric, as well as the
        total view count, watch time, and the Mux Global metric value for the metric.
      operationId: get-overall-values
      parameters:
      - description: ID of the Metric
        example: video_startup_time
        explode: false
        in: path
        name: METRIC_ID
        required: true
        schema:
          enum:
          - aggregate_startup_time
          - downscale_percentage
          - exits_before_video_start
          - max_downscale_percentage
          - max_upscale_percentage
          - page_load_time
          - playback_failure_percentage
          - playback_failure_score
          - player_startup_time
          - playing_time
          - rebuffer_count
          - rebuffer_duration
          - rebuffer_frequency
          - rebuffer_percentage
          - rebuffer_score
          - requests_for_first_preroll
          - seek_latency
          - startup_time_score
          - unique_viewers
          - upscale_percentage
          - video_quality_score
          - video_startup_preroll_load_time
          - video_startup_preroll_request_time
          - video_startup_time
          - viewer_experience_score
          - views
          - weighted_average_bitrate
          type: string
        style: simple
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=). Accepted formats are...
            * array of epoch timestamps e.g. timeframe[]=1498867200&timeframe[]=1498953600
            * duration string e.g. timeframe[]=24:hours or timeframe[]=7:days.
        explode: true
        in: query
        name: timeframe[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Filter key:value pairs. Must be provided as an array query string parameter (e.g. filters[]=operating_system:windows&filters[]=country:US).
          Possible filter names are the same as returned by the List Filters endpoint.
        explode: true
        in: query
        name: filters[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Measurement for the provided metric. If omitted, the default
          for the metric will be used.
        explode: true
        in: query
        name: measurement
        required: false
        schema:
          enum:
          - 95th
          - median
          - avg
          - count
          - sum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                total_row_count: null
                timeframe:
                - 1610029525
                - 1610115925
                meta:
                  aggregation: view_end
                data:
                  value: 4
                  total_watch_time: 513934
                  total_playing_time: 413934
                  total_views: 5
                  global_value: 1169.1832095168065
              schema:
                $ref: '#/components/schemas/GetOverallValuesResponse'
          description: OK
      summary: Get Overall values
      tags:
      - Metrics
  /data/v1/metrics/{METRIC_ID}/insights:
    get:
      description: Returns a list of insights for a metric. These are the worst performing
        values across all breakdowns sorted by how much they negatively impact a specific
        metric.
      operationId: list-insights
      parameters:
      - description: ID of the Metric
        example: video_startup_time
        explode: false
        in: path
        name: METRIC_ID
        required: true
        schema:
          enum:
          - aggregate_startup_time
          - downscale_percentage
          - exits_before_video_start
          - max_downscale_percentage
          - max_upscale_percentage
          - page_load_time
          - playback_failure_percentage
          - playback_failure_score
          - player_startup_time
          - playing_time
          - rebuffer_count
          - rebuffer_duration
          - rebuffer_frequency
          - rebuffer_percentage
          - rebuffer_score
          - requests_for_first_preroll
          - seek_latency
          - startup_time_score
          - unique_viewers
          - upscale_percentage
          - video_quality_score
          - video_startup_preroll_load_time
          - video_startup_preroll_request_time
          - video_startup_time
          - viewer_experience_score
          - views
          - weighted_average_bitrate
          type: string
        style: simple
      - description: Measurement for the provided metric. If omitted, the default
          for the metric will be used.
        explode: true
        in: query
        name: measurement
        required: false
        schema:
          enum:
          - 95th
          - median
          - avg
          - count
          - sum
          type: string
        style: form
      - description: Sort order.
        explode: true
        in: query
        name: order_direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=). Accepted formats are...
            * array of epoch timestamps e.g. timeframe[]=1498867200&timeframe[]=1498953600
            * duration string e.g. timeframe[]=24:hours or timeframe[]=7:days.
        explode: true
        in: query
        name: timeframe[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                total_row_count: 18
                timeframe:
                - 1610029610
                - 1610116010
                meta:
                  aggregation: view_end
                data:
                - total_watch_time: 351144
                  total_playing_time: 341144
                  total_views: 1
                  negative_impact_score: -5
                  metric: 9
                  filter_value: ""
                  filter_column: video_title
                - total_watch_time: 513934
                  total_views: 5
                  negative_impact_score: 0
                  metric: 4
                  filter_value: US
                  filter_column: country
              schema:
                $ref: '#/components/schemas/ListInsightsResponse'
          description: OK
      summary: List Insights
      tags:
      - Metrics
  /data/v1/metrics/{METRIC_ID}/timeseries:
    get:
      description: Returns timeseries data for a specific metric.
      operationId: get-metric-timeseries-data
      parameters:
      - description: ID of the Metric
        example: video_startup_time
        explode: false
        in: path
        name: METRIC_ID
        required: true
        schema:
          enum:
          - aggregate_startup_time
          - downscale_percentage
          - exits_before_video_start
          - max_downscale_percentage
          - max_upscale_percentage
          - page_load_time
          - playback_failure_percentage
          - playback_failure_score
          - player_startup_time
          - playing_time
          - rebuffer_count
          - rebuffer_duration
          - rebuffer_frequency
          - rebuffer_percentage
          - rebuffer_score
          - requests_for_first_preroll
          - seek_latency
          - startup_time_score
          - unique_viewers
          - upscale_percentage
          - video_quality_score
          - video_startup_preroll_load_time
          - video_startup_preroll_request_time
          - video_startup_time
          - viewer_experience_score
          - views
          - weighted_average_bitrate
          type: string
        style: simple
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=). Accepted formats are...
            * array of epoch timestamps e.g. timeframe[]=1498867200&timeframe[]=1498953600
            * duration string e.g. timeframe[]=24:hours or timeframe[]=7:days.
        explode: true
        in: query
        name: timeframe[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Filter key:value pairs. Must be provided as an array query string parameter (e.g. filters[]=operating_system:windows&filters[]=country:US).
          Possible filter names are the same as returned by the List Filters endpoint.
        explode: true
        in: query
        name: filters[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Measurement for the provided metric. If omitted, the default
          for the metric will be used.
        explode: true
        in: query
        name: measurement
        required: false
        schema:
          enum:
          - 95th
          - median
          - avg
          - count
          - sum
          type: string
        style: form
      - description: Sort order.
        explode: true
        in: query
        name: order_direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Time granularity to group results by. If this value is omitted,
          a default granularity is chosen based on the supplied timeframe.
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          enum:
          - hour
          - day
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                total_row_count: 2
                timeframe:
                - 1610029711
                - 1610116111
                meta:
                  aggregation: view_end
                data:
                - - 2021-01-07T14:00:00Z
                  - null
                  - null
                  - - 2021-01-07T15:00:00Z
                    - null
                    - null
              schema:
                $ref: '#/components/schemas/GetMetricTimeseriesDataResponse'
          description: OK
      summary: Get metric timeseries data
      tags:
      - Metrics
  /data/v1/metrics/comparison:
    get:
      description: List all of the values across every breakdown for a specific metric.
      operationId: list-all-metric-values
      parameters:
      - description: |
          Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=). Accepted formats are...
            * array of epoch timestamps e.g. timeframe[]=1498867200&timeframe[]=1498953600
            * duration string e.g. timeframe[]=24:hours or timeframe[]=7:days.
        explode: true
        in: query
        name: timeframe[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Filter key:value pairs. Must be provided as an array query string parameter (e.g. filters[]=operating_system:windows&filters[]=country:US).
          Possible filter names are the same as returned by the List Filters endpoint.
        explode: true
        in: query
        name: filters[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Dimension the specified value belongs to
        explode: true
        in: query
        name: dimension
        required: false
        schema:
          enum:
          - asn
          - browser
          - browser_version
          - cdn
          - continent_code
          - country
          - exit_before_video_start
          - experiment_name
          - operating_system
          - operating_system_version
          - player_autoplay
          - player_error_code
          - player_mux_plugin_name
          - player_mux_plugin_version
          - player_name
          - player_preload
          - player_remote_played
          - player_software
          - player_software_version
          - player_version
          - preroll_ad_asset_hostname
          - preroll_ad_tag_hostname
          - preroll_played
          - preroll_requested
          - region
          - source_hostname
          - source_type
          - stream_type
          - sub_property_id
          - video_encoding_variant
          - video_id
          - video_series
          - video_title
          - view_session_id
          - viewer_connection_type
          - viewer_device_category
          - viewer_device_manufacturer
          - viewer_device_model
          - viewer_device_name
          - viewer_user_id
          type: string
        style: form
      - description: Value to show all available metrics for
        explode: true
        in: query
        name: value
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                total_row_count: null
                timeframe:
                - 1610029906
                - 1610116306
                data:
                - watch_time: 513934
                  view_count: 5
                  started_views: 6
                  ended_views: 5
                  unique_viewers: 6
                  total_playing_time: 503934
                  name: totals
                - value: 6
                  type: number
                  name: Views
                  metric: views
                  items:
                  - value: 6
                    type: number
                    name: Unique Viewers
                    metric: unique_viewers
                  - value: 503934
                    type: milliseconds
                    name: Playing Time
                    metric: playing_time
                - value: 0.7803472280502319
                  type: score
                  name: Overall Score
                  metric: viewer_experience_score
                - value: 0.8
                  type: score
                  name: Playback Failure Score
                  metric: playback_failure_score
                  items:
                  - value: 0.2
                    type: percentage
                    name: Playback Failure Percentage
                    metric: playback_failure_percentage
                - value: 0.9991008877754212
                  type: score
                  name: Startup Time Score
                  metric: startup_time_score
                  items:
                  - value: 4
                    type: milliseconds
                    name: Video Startup Time (median)
                    metric: video_startup_time
                    measurement: median
                  - value: 9
                    type: milliseconds
                    name: Video Startup Time (95th %)
                    metric: video_startup_time
                    measurement: 95th
                  - value: 52.5625
                    type: milliseconds
                    name: Player Startup Time (median)
                    metric: player_startup_time
                    measurement: median
                  - value: 60.0625
                    type: milliseconds
                    name: Player Startup Time (95th %)
                    metric: player_startup_time
                    measurement: 95th
                  - value: 122.37890625
                    type: milliseconds
                    name: Page Load Time (median)
                    metric: page_load_time
                    measurement: median
                  - value: 264.0625
                    type: milliseconds
                    name: Page Load Time (95th %)
                    metric: page_load_time
                    measurement: 95th
                  - value: 182.25
                    type: milliseconds
                    name: Aggregate Startup Time (median)
                    metric: aggregate_startup_time
                    measurement: median
                  - value: 319.515625
                    type: milliseconds
                    name: Aggregate Startup Time (95th %)
                    metric: aggregate_startup_time
                    measurement: 95th
                  - value: 3042
                    type: milliseconds
                    name: Seek Latency
                    metric: seek_latency
                  - value: 0
                    type: percentage
                    name: Exits Before Video Start
                    metric: exits_before_video_start
                - value: 0.9523247838020324
                  type: score
                  name: Rebuffer Score
                  metric: rebuffer_score
                  items:
                  - value: 5.564916895943838E-4
                    type: percentage
                    name: Rebuffer Percentage
                    metric: rebuffer_percentage
                  - value: 0.11674650830651406
                    type: per_minute
                    name: Rebuffer Frequency
                    metric: rebuffer_frequency
                  - value: 0
                    type: milliseconds
                    name: Rebuffer Duration (median)
                    metric: rebuffer_duration
                    measurement: median
                  - value: 256
                    type: milliseconds
                    name: Rebuffer Duration (95th %)
                    metric: rebuffer_duration
                    measurement: 95th
                  - value: 0
                    type: number
                    name: Rebuffer Count (median)
                    metric: rebuffer_count
                    measurement: median
                  - value: 1
                    type: number
                    name: Rebuffer Count (95th %)
                    metric: rebuffer_count
                    measurement: 95th
                - value: 1
                  type: score
                  name: Video Quality Score
                  metric: video_quality_score
                  items:
                  - value: 0
                    type: percentage
                    name: Upscale Percentage (median)
                    metric: upscale_percentage
                    measurement: median
                  - value: 0
                    type: percentage
                    name: Upscale Percentage (95th %)
                    metric: upscale_percentage
                    measurement: 95th
                  - value: 0
                    type: percentage
                    name: Upscale Percentage (average)
                    metric: upscale_percentage
                    measurement: avg
                  - value: 0.007
                    type: percentage
                    name: Downscale Percentage (median)
                    metric: downscale_percentage
                    measurement: median
                  - value: 0.449
                    type: percentage
                    name: Downscale Percentage (95th %)
                    metric: downscale_percentage
                    measurement: 95th
                  - value: 0.11813909473676262
                    type: percentage
                    name: Downscale Percentage (average)
                    metric: downscale_percentage
                    measurement: avg
                  - value: 0
                    type: percentage
                    name: Max Upscale Percentage (median)
                    metric: max_upscale_percentage
                    measurement: median
                  - value: 0
                    type: percentage
                    name: Max Upscale Percentage (95th %)
                    metric: max_upscale_percentage
                    measurement: 95th
                  - value: 0.007
                    type: percentage
                    name: Max Downscale Percentage (median)
                    metric: max_downscale_percentage
                    measurement: median
                  - value: 0.449
                    type: percentage
                    name: Max Downscale Percentage (95th %)
                    metric: max_downscale_percentage
                    measurement: 95th
                  - value: 851582.91015625
                    type: mbps
                    name: Weighted Average Bitrate (median)
                    metric: weighted_average_bitrate
                    measurement: median
                  - value: 697016.265625
                    type: mbps
                    name: Weighted Average Bitrate (95th %)
                    metric: weighted_average_bitrate
                    measurement: 95th
              schema:
                $ref: '#/components/schemas/ListAllMetricValuesResponse'
          description: OK
      summary: List all metric values
      tags:
      - Metrics
  /data/v1/realtime/dimensions:
    get:
      description: Lists availiable real-time dimensions.
      operationId: list-realtime-dimensions
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - display_name: ASN
                  name: asn
                - display_name: CDN
                  name: cdn
                - display_name: Country
                  name: country
                - display_name: Operating system
                  name: operating_system
                - display_name: Player name
                  name: player_name
                - display_name: Region / State
                  name: region
                - display_name: Stream type
                  name: stream_type
                - display_name: Sub property ID
                  name: sub_property_id
                - display_name: Video series
                  name: video_series
                - display_name: Video title
                  name: video_title
                timeframe:
                - 1610034823
                - 1610121223
                total_row_count: null
              schema:
                $ref: '#/components/schemas/ListRealTimeDimensionsResponse'
          description: OK
      summary: List Real-Time Dimensions
      tags:
      - Real-Time
  /data/v1/realtime/metrics:
    get:
      description: Lists availiable real-time metrics.
      operationId: list-realtime-metrics
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - display_name: Current Average Bitrate
                  name: current-average-bitrate
                - display_name: Current Concurrent Viewers (CCV)
                  name: current-concurrent-viewers
                - display_name: Current Rebuffering Percentage
                  name: current-rebuffering-percentage
                - display_name: Exits Before Video Start
                  name: exits-before-video-start
                - display_name: Playback Failure Percentage
                  name: playback-failure-percentage
                - display_name: Video Startup Time
                  name: video-startup-time
                timeframe:
                - 1610034858
                - 1610121258
                total_row_count: null
              schema:
                $ref: '#/components/schemas/ListRealTimeMetricsResponse'
          description: OK
      summary: List Real-Time Metrics
      tags:
      - Real-Time
  /data/v1/realtime/metrics/{REALTIME_METRIC_ID}/breakdown:
[...]
